.font-bebas{
    font-family: 'Bebas Neue', sans-serif;
}

.font-manrope{
    font-family: 'Manrope', sans-serif;
}

.font-corgette{
    font-family: 'Courgette', cursive;
}

.font-lilita{
    font-family: 'Lilita One', sans-serif;
}

.para-height{
    line-height: 26px;
}